// .kenzap .kenzap-featured-list-2 h2,
// .kenzap .kenzap-featured-list-2 .featured-box img,
// .kenzap .kenzap-featured-list-2 .featured-box h3,
// .kenzap .kenzap-featured-list-2 .featured-box p,
// .kenzap .kenzap-featured-list-2 span{
//   padding: 0;
//   margin: 0;
//   box-shadow: none;
//   border: none;
//   text-decoration: none;
// }

.kenzap .kenzap-featured-list-2{
  background-image: none;
  background-color: inherit;
  background-blend-mode: multiply;
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position:relative;
  overflow:hidden;
  padding:140px 0;
  transition: all .2s;
}

.kenzap .kenzap-featured-list-2 .kenzap-container{
  margin:0 auto;
  max-width:1170px;
  padding:0 0px;
}

.kenzap .kenzap-featured-list-2 h2{
  //color:#fff;
  margin:0;
  //font-size: var(--h2);
  //line-height: var(--h2lh);
  display:block;
  //font-weight:700
}

.kenzap .kenzap-featured-list-2 .featured-box {
  position: relative;
  margin-right: 10px;
  min-width: 253px;
  transition: all .2s;
}

// .kenzap .kenzap-featured-list-2 .featured-box:hover {
//   box-shadow: inset 0 0 20px white;
// }

.kenzap .kenzap-featured-list-2 .featured-box img{
  margin:0 0 35px;
  display:block;
}

.kenzap .kenzap-featured-list-2 .featured-box h3{
  //color:#fff;
  margin:0;
  display:block;
  //font-weight:700;
  //font-size: var(--h3);
  //line-height: var(--h3lh);
}

.kenzap .kenzap-featured-list-2 .featured-box p{
  //color:#fff;
  //font-size: var(--p);
  //line-height: var(--plh);
  //margin:0 0 20px;
  margin: 0;
}

/*
 *  Owl Carousel - Core
 */
 .kenzap .kenzap-featured-list-2 .owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-wrapper,
.kenzap .kenzap-featured-list-2 .owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-nav.disabled,
.kenzap .kenzap-featured-list-2 .owl-carousel .owl-dots.disabled {
  display: none;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-nav .owl-prev,
.kenzap .kenzap-featured-list-2 .owl-carousel .owl-nav .owl-next,
.kenzap .kenzap-featured-list-2 .owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-nav button.owl-prev,
.kenzap .kenzap-featured-list-2 .owl-carousel .owl-nav button.owl-next,
.kenzap .kenzap-featured-list-2 .owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.kenzap .kenzap-featured-list-2 .owl-carousel.owl-loaded {
  display: block;
}

.kenzap .kenzap-featured-list-2 .owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.kenzap .kenzap-featured-list-2 .owl-carousel.owl-hidden {
  opacity: 0;
}

.kenzap .kenzap-featured-list-2 .owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.kenzap .kenzap-featured-list-2 .owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.kenzap .kenzap-featured-list-2 .owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.kenzap .kenzap-featured-list-2 .owl-carousel.owl-rtl {
  direction: rtl;
}

.kenzap .kenzap-featured-list-2 .owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.kenzap .kenzap-featured-list-2 .no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.kenzap .kenzap-featured-list-2 .owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-animated-in {
  z-index: 0;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-animated-out {
  z-index: 1;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.kenzap .kenzap-featured-list-2 .owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-item .owl-lazy[src^=""],
.kenzap .kenzap-featured-list-2 .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.kenzap .kenzap-featured-list-2 .owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.kenzap .kenzap-featured-list-2 .owl-carousel {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}

.kenzap .kenzap-featured-list-2 .owl-dots{
  margin:20px 0;
  text-align:center
}

.kenzap .kenzap-featured-list-2 .owl-dot{
  margin:0 6px
}

.kenzap .kenzap-featured-list-2 .owl-dot span{
  display: block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.kenzap .kenzap-featured-list-2 .active span{
  background: rgba(102,102,102,.6);
}

.kenzap .kenzap-featured-list-2 .remove {
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  border: 0;
  background: $white;
  border-radius: 50%;
  color: $black;
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;

  &:hover {
    color: red;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kenzap-featured-list-2 .featured-box:hover .remove{
  opacity: 1;
}

.kenzap .kenzap-featured-list-2 .kenzap-add {
	position: absolute;
	display: none;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	border-radius: 5px;
	padding: 5px;
	border: 0;
	background: white;
	box-shadow: inset 0 0 50px white;
	color: rgba(10,24,41,.7);
	cursor: pointer;
	text-align: center;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  transition: all .2s;
  

  span {
	  display: block;
	  margin-bottom: 5px;
  }

  &:hover {
    color: #191e23;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kenzap-featured-list-2 .editPadding {
	transition: all .2s;
}

.kenzap .is-selected .kenzap-featured-list-2{
  
	& .kenzap-add {
    display: flex;
	}
  
	.editPadding {
	  padding: 0 0 100px;
	 }
}
