// .kenzap .kenzap-featured-list-3 .featured-box img,
// .kenzap .kenzap-featured-list-3 .featured-box h3,
// .kenzap .kenzap-featured-list-3 .featured-box p {
//   padding: 0;
//   margin: 0;
//   box-shadow: none;
//   border: none;
//   text-decoration: none;
// }

// .kenzap .kenzap-featured-list-3 .kenzap-container{
//   max-width:1170px;
//   margin:0 auto;
// }

// .kenzap .kenzap-featured-list-3 .kenzap-row{
//   display: flex;
//   flex-wrap: wrap;
// }

.kenzap .kenzap-featured-list-3 .kenzap-lg .kenzap-col-3,
.kenzap .kenzap-featured-list-3 .kenzap-col-3{
  //width:50%;
  position: relative;
}

// .kenzap .kenzap-featured-list-3 .featured-box{
//   margin:30px 0 0;
//   text-align:center;
//   padding:0 15px;
//   display:flex;
//   align-items:center;
//   justify-content:center;
//   flex-direction:column;
// }

// .kenzap .kenzap-featured-list-3 .featured-box img{
//   width:90px;
//   height:90px;
//   position:relative;
//   display:flex;
//   align-items:center;
//   justify-content:center;
//   margin:0 0 20px;
// }

// .kenzap .kenzap-featured-list-3 .featured-box h3{
//   margin: 0;
//   width: 100%;
//   // font-size: var(--h3);
//   // line-height:var(--h3lh);
//   //color:#333;
//   //font-weight:600;
//   //text-transform:uppercase;
// }

// .kenzap .kenzap-featured-list-3 .featured-box p{
//   margin: 0;
//   // font-size: var(--p);
//   // line-height:var(--plh);
//   //color:#666;
//   hyphens:none;
// }

@media screen and (max-width: 61.938em) {
  .kenzap .kenzap-featured-list-3 .kenzap-col-3{
    width:50%;
  }
}

@media screen and (max-width: 61.938em) {
  .kenzap .kenzap-featured-list-3 .kenzap-md .kenzap-col-3{
    width:50%;
  }
}

@media screen and (max-width: 48em) {
  .kenzap .kenzap-featured-list-3 .kenzap-col-3{
    width:100%;
  }
}

@media screen and (min-width: 48em) {
  .kenzap .kenzap-featured-list-3 .kenzap-sm .kenzap-col-3,
  .kenzap .kenzap-featured-list-3 .kenzap-xs .kenzap-col-3{
    width:100%;
  }
}

.kenzap .kenzap-featured-list-3 .remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
  background: $white;
  border-radius: 50%;
  color: $black;
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;

  &:hover {
    color: red;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kenzap-featured-list-3 .featured-box:hover .remove{
  opacity: 1;
}

.kenzap .kenzap-featured-list-3 .kenzap-add {
	position: absolute;
	display: none;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	border-radius: 5px;
	padding: 5px;
	border: 0;
	background: white;
	box-shadow: inset 0 0 50px white;
	color: rgba(10,24,41,.7);
	cursor: pointer;
	text-align: center;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  transition: all .2s;
  

  span {
	  display: block;
	  margin-bottom: 5px;
  }

  &:hover {
    color: #191e23;
  }

  &:focus {
    outline: none;
  }
}

.kenzap .kenzap-featured-list-3 .editPadding {
	transition: all .2s;
}

.kenzap .is-selected .kenzap-featured-list-3{
  
	& .kenzap-add {
    display: flex;
	}
  
	.editPadding {
	  padding: 0 0 100px;
	 }
}